@forward "colors";
@forward "reset";
@forward "wrappers";
@forward "utilities";

header {
  position: sticky;
  top: 0;
  z-index: 9999;
  padding-inline: 1em;
  box-shadow: 0 0 6px var(--clr-shadow-400);
  background: var(--clr-primary-700);

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    padding-block: 0.5em;
    color: var(--clr-neutral-100);
    text-decoration: none;
  }

  .navbarToggler {
    display: none;
    font-size: 2rem;
    color: var(--clr-neutral-100);
  }

  .navbar {
    .navbarToggler {
      position: absolute;
      right: 1rem;
      top: 1rem;
    }
  }

  .primary-navigation {
    display: flex;
    align-items: center;
    gap: 1.5em;

    list-style: none;

    li {
      padding-block: 1em;
    }

    a {
      color: var(--clr-neutral-200);
      text-decoration: none;
      padding-block: 1em;

      position: relative;

      &.hireButton {
        background: var(--clr-accent-100);
        padding-inline: 1em;
        border-radius: 10px;
        padding-block: 0.8em;
        transition: 100ms ease-out;

        &:hover {
          background: var(--clr-accent-200);

          &::after {
            width: 0;
          }
        }
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        width: 0;
        background: var(--clr-neutral-100);
        height: 3px;
        transition: 150ms ease-out;
      }

      &:hover,
      &:focus,
      &.active {
        &::after {
          width: 100%;
        }
      }

      &.active {
        &::after {
          background: var(--clr-accent-100);
        }
      }
    }
  }
}

// Footer
footer {
  background: var(--clr-primary-600);
  color: var(--clr-neutral-400);
  padding-block: 1em;

  .footer-bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    .social-media-links {
      display: flex;
      align-items: center;
      gap: 1em;

      margin-block: 1em 1.5em;
      list-style: none;
      font-size: 1.5rem;

      a {
        color: var(--clr-neutral-400);
        text-decoration: none;
        transition: 100ms ease-out;

        &:hover,
        &:focus {
          color: var(--clr-neutral-100);
        }
      }
    }
  }
}
// Media Queries
@media (max-width: 800px) {
  header {
    .navbarToggler {
      display: block;
    }

    .navbar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background: var(--clr-primary-600);
      transform: translateX(100%);

      padding-block: 4rem;

      transition: 200ms ease-out;

      .primary-navigation {
        flex-direction: column;
        align-items: stretch;

        padding: 1em;
      }
    }
  }
}
